<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.tradesystem.krx.repository.KrxTickerMasterMapper">

    <resultMap id="tickerMasterRowMap" type="top.tradesystem.krx.dto.KrxTickerMasterRow">
        <constructor>
            <arg column="code"            javaType="java.lang.String"/>
            <arg column="isin"            javaType="java.lang.String"/>
            <arg column="name_kr"         javaType="java.lang.String"/>
            <arg column="name_kr_abbr"    javaType="java.lang.String"/>
            <arg column="name_en"         javaType="java.lang.String"/>
            <arg column="market"          javaType="java.lang.String"/>
            <arg column="sec_group"       javaType="java.lang.String"/>
            <arg column="kind_stock_cert" javaType="java.lang.String"/>
            <arg column="list_date"       javaType="java.time.LocalDate"/>
            <arg column="par_value"       javaType="java.lang.String"/>
            <arg column="list_shares"     javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <sql id="tickerMasterCols">
        code, isin, name_kr, name_kr_abbr, name_en,
        market, sec_group, kind_stock_cert, list_date,
        par_value, list_shares
    </sql>

    <insert id="upsertBatch">
        INSERT INTO krx_ticker_master
        (<include refid="tickerMasterCols"/>)
        VALUES
        <foreach collection="rows" item="r" separator=",">
            (#{r.code}, #{r.isin}, #{r.nameKr}, #{r.nameKrAbbr}, #{r.nameEn}, #{r.market},
            #{r.secGroup}, #{r.kindStockCert}, #{r.listDate}, #{r.parValue}, #{r.listShares})
        </foreach>
        ON DUPLICATE KEY UPDATE
        isin = VALUES(isin),
        name_kr = VALUES(name_kr),
        name_kr_abbr = VALUES(name_kr_abbr),
        name_en = VALUES(name_en),
        market = VALUES(market),
        sec_group = VALUES(sec_group),
        kind_stock_cert = VALUES(kind_stock_cert),
        list_date = VALUES(list_date),
        par_value = VALUES(par_value),
        list_shares = VALUES(list_shares)
    </insert>

    <select id="findByMarket" resultMap="tickerMasterRowMap">
        SELECT <include refid="tickerMasterCols"/>
        FROM krx_ticker_master
        WHERE market = #{market}
        ORDER BY code
    </select>

    <select id="findByCode" parameterType="string" resultMap="tickerMasterRowMap">
        SELECT <include refid="tickerMasterCols"/>
        FROM krx_ticker_master
        WHERE code = #{code}
    </select>

    <select id="findTopLiquidSymbols" resultType="string">
        SELECT isu_cd
        FROM krx_daily_trade
        WHERE bas_dd = (SELECT MAX(bas_dd) FROM krx_daily_trade)
        ORDER BY CAST(REPLACE(acc_trdval, ',', '') AS UNSIGNED) DESC
        LIMIT #{limit}
    </select>

</mapper>
